.to-do-list {
    min-height: fit-content;
    background-color: rgb(229, 229, 229);
    color: rgb(125, 125, 125);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1rem 3rem rgb(black, .175);   
}

.to-do-item {
    margin: 1.5rem 1rem 1.5rem 1rem;
    height: 24rem;
    overflow: auto;
}

.empty-todo {
    margin-top: -4rem;
    margin-bottom: -4rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    color: rgb(93, 93, 93);
}

#header-bg {
    background-size: cover;
    background-position: center;
    border-bottom-width: 1px;
    border-color: rgb(115, 115, 115);
    padding-top: 1.5rem 1rem 1.5rem 1rem;
}

.todolist-done {
    text-decoration: line-through;
    color: rgb(67, 98, 252);
}

.bg-todo-header-day {
    background-image: url(../assets/pict/header-day.png);
}

.bg-todo-header-afternoon {
    background-image: url(../assets/pict/header-afternoon.png);
}

.bg-todo-header-night {
    background-image: url(../assets/pict/header-night.png);
}

.input-todo {
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(209,213,219,var(--tw-border-opacity));
}

.task-title {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}

.month-todo {
    padding-top: .25rem;
    padding-left: 2rem;
    line-height: 1.75rem;
    font-size: 1.125rem;
    --tw-text-opacity: 1;
    color: rgba(243,244,246,var(--tw-text-opacity));
}