.user {
  text-align: center;

  h1 {
    background: -webkit-linear-gradient(#eee, rgb(83, 83, 83));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ul {
    color: rgb(0, 165, 210);
  }
}

.post {
    background-color: rgb(103, 96, 88);
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;

    ul {
        margin: 2em 1em 2em 1em;
        background-color: rgb(71, 43, 23);
        color:rgb(174, 174, 174)
    }
}
