.athir-intro {
  font-size: 40px;
  margin: 2em 1em 1.5em 1.5em;
  color: whitesmoke;
  background: -webkit-linear-gradient(#eee, rgb(83, 83, 83));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-image: url(../assets/pict/bg.png);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: whitesmoke;
}
