.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.2rem;
  padding-top: 1.2em;
  text-align: center;
  background-color: #2a1a13;
  color: whitesmoke;
}

.navbar {
  background-image: url(./assets/pict/nav.jpg);
  font-weight: bolder;
}

.athir-container {
  display: flex;
}

.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2em 1em 2em 2em;
  padding-top: 20px;
}

.carousel img {
  border-radius: 2em;
}

.athir-p {
  position: relative;
  margin: 2em 1em 2em 2em;
  padding-top: 80px;
  font-size: 25px;
}

.icon {
  display: flex;
  position: relative;
  width: 100%;
  gap: 5%;
  margin: 2em 1em 2em 3.5em;
}

h1 {
  margin: 2em 1em 2em 0.7em;
}

.form {
  margin: 2em 2em 2em 2em;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.dark {
  background-color: #404042 !important;
  color: rgb(212, 212, 212) !important;
}
